.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  background-color: rgb(36, 35, 35);
}
.navigation .links a {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: rgb(250, 246, 246);
  margin: 10px;
  padding: 5px 10px;
  text-transform: capitalize;
  transition: all 0.3s;
}
.navigation .links a.nav-active {
  color: rgb(21, 187, 209);
  border-bottom: 3px solid rgb(9, 224, 231);
}
.logo {
  width: 100px;
  height: 70px;
}
